.root {
  
    background: #222222;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-react-quiz {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 1100px;
    height: 500px;
    /* max-width: 900px; */
     /* Limit the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .title-react-quiz {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0dff92;
  }
  
  .listt {
    list-style-type: decimal;
    padding-left: 30px;
    text-align: left;
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-left: 20%; */
    /* Make the container take up the full viewport height */
}

  .input-field {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    margin-top: 20px;
  }
  
  .start {
    margin-top: 30px;
  }
  
  .start .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    background-color: #0dff92;
    transition: background-color 0.2s;
  }
  
  .start .btn:hover {
    background-color: #0aff7f;
  }
  .background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}